<div class="task-dialog-container">
    <h1>{{title}}</h1>

    <div [formGroup]="taskManagerFormGroup" class="form-container">
      <mat-form-field class="form-field-item full-width" appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" placeholder="Name">
        <mat-error *ngIf="taskManagerFormGroup.controls['name'].hasError('required')">Name is required</mat-error>
      </mat-form-field>

      <mat-form-field class="form-field-item full-width" appearance="fill">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description" placeholder="Input your description here"></textarea>
      </mat-form-field>

      <mat-form-field class="form-field-item full-width" appearance="fill">
        <mat-label>Status</mat-label>
        <mat-select formControlName="status">
          <mat-option value="New">New</mat-option>
          <mat-option value="In Progress">In Progress</mat-option>
          <mat-option value="Done">Done</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="form-field-item full-width" appearance="fill">
        <mat-label>Tags</mat-label>
        <mat-chip-list #chipList aria-label="Tags selection" formArrayName="tags">
          <mat-chip *ngFor="let tag of tags.controls; let i = index" [selectable]="selectable" [removable]="removable" (removed)="removeTag(i)">
            {{ tag.value.name }}
            <mat-icon matChipRemove *ngIf="removable">close</mat-icon>
          </mat-chip>
          <input placeholder="Enter a keyword for your store" [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="addTag($event)">
        </mat-chip-list>
      </mat-form-field>
    </div>
    <!--end: form-->
    <!--start: footer-->
    <div class="task-dialog-footer">
      <div fxLayout="row">
        <button (click)="save()" [disabled]="!taskManagerFormGroup.valid" mat-flat-button color="primary">Save</button>
        <div fxFlex></div>
        <button (click)="cancel()" mat-flat-button>Cancel</button>
      </div>
    </div>
    <!--end: footer-->
</div>
