.main-container {
    padding: 2em;

    .pill {
        text-align: center;
        width: fit-content;
        padding: 3px 13px;
        border-radius: 50px;
    }

    .pill-new {
        color: #009EF7;
        background-color: #F1FAFF;
    }

    .pill-inprogress {
        color: #FFC700;
        background-color: #FFF8DD;
    }

    .pill-done {
        color: #50CD89;
        background-color: #E8FFF3;
    }

    .header-container {margin-bottom: 1em;}
    .header-container-title { font-size: 16px;}
    .mat-table {width: 100%;}
    .mr-3 { margin-right: 3px;}

        .hidden {
          visibility: hidden;
        }

        .visible {
          visibility: visible;
        }
}
